* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(255, 240, 249);
}
.search_form {
  padding-top: 30px;
  width: 40%;
  margin: auto;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vw;
}
.search_form input {
  width: 76%;
  /* height: 3vw; */
  font-size: 1.4vw;
  outline: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 6px;
  padding: 1vw 2vw;
}
.search_form button {
  padding: 1vw 2vw;
  font-size: 1.4vw;
  outline: none;
  border: 2px solid rgb(124, 122, 236);
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}
.search_form button:hover {
  background-color: rgb(124, 122, 236);
  color: white;
}
